.footer {
  padding: 30px 0;
  background-color: $semiDarkGray;

  @include sm {
    padding: 20px 0;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  @include lg {
    flex-direction: column;
  }
}

.footer__policy {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: $white;

  @include xlm {
    font-size: 12px;
    line-height: 14px;
  }
}

.footer__divider {
  width: 1px;
  height: 18px;
  background: $divideGray;

  @include lg {
    transform: rotate(90deg);
    margin: 4px 0 4px 8px;
  }
}

.footer__section-wrapper {
  display: flex;
  gap: 38px;

  @include xlm {
    flex-direction: column;
    gap: 18px;
  }
}

.footer__payment {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: $divideGray;

  @include xlm {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__link {
  @extend .footer__payment;
  color: $white;
  transition: $transition;

  &:hover {
    color: $blue3;
    &>img {
      filter: drop-shadow(0 0 8px $blue);
    }
  }
}

.footer__link-img {
  width: 20px;
  height: 20px;
  transition: $transition;

  @include xlm {
    width: 16px;
    height: 16px;
  }
}
