$black: #000000;
$blue: #3E9CDC;
$blue2: #42A9ED;
$blue3: #43ABF0;
$blue4: #286690;
$darkBlue: #272733;
$white: #FFFFFF;
$semiDarkGray: #3D4050;
$gray: #6F6D7B;
$lightGray: #BBBBBB;
$inputGray: #DFDFE1;
$divideGray: #C3C3C3;
$darkGray: #2A2B30;
$rangeGray: #BEBEC1;
$error: red;

@import './resetBrowserStyles';
@import './common';
@import './typography';
@import './navigation';
@import './footer';
@import './components';

.header {
  padding-top: 203px;
  padding-bottom: 202px;
  background-image: url(../img/header_c.png);
  background-size: cover;

  @include lg {
    padding-top: 160px;
    padding-bottom: 160px;
    background-position: center;
  }
  @include sm {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include xlm {
    padding-top: 80px;
    padding-bottom: 60px;
    background-position: left;
    background-image: url(../img/header_mob.png);
  }
}

.header__list-title {
  font-family: 'LatoBold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: $black;
  margin: 80px 0 10px;

  @include lg {
    margin: 56px 0 10px;
  }
  @include sm {
    margin: 40px 0 10px;
    font-size: 18px;
    line-height: 20px;
  }
  @include xlm {
    margin: 30px 0 10px;
    font-size: 16px;
    line-height: 18px;
  }
}

.header__list-item {
  font-size: 20px;
  line-height: 24px;
  color: $black;
  margin-bottom: 5px;
  padding-left: 25px;

  @include sm {
    font-size: 18px;
    line-height: 20px;
  }
  @include xlm {
    font-size: 16px;
    line-height: 18px;
  }

  &:before {
    content: '';
    width: 4.94px;
    height: 1.51px;
    background: $black;
    position: absolute;
    left: 10px;
    top: 50%;
  }

  &:last-child {
    margin-bottom: 80px;

    @include sm {
      margin-bottom: 40px;
    }
    @include xlm {
      margin-bottom: 20px;
    }
  }
}

.header__order-button {
  margin-right: 30px;

  @include xlm {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.ordering {
  background-color: $darkBlue;
  padding: 120px 0 150px;

  @include lg {
    padding: 80px 0 100px;
  }
  @include sm {
    padding: 40px 0 60px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/map_c.png);
    background-repeat: no-repeat;
    background-position-y: -56px;
    opacity: 0.1;

    @include lg {
      background-position: center;
    }
    @include xlm {
      background-image: url(../img/map_mob.png);
      background-size: cover;
    }
  }
}

.ordering__subtitle {
  font-size: 18px;
  line-height: 22px;
  margin: 30px auto 80px;
  width: fit-content;
  color: $lightGray;
  text-align: center;

  @include sm {
    margin: 20px auto 40px;
  }
  @include xlm {
    font-size: 16px;
    line-height: 18px;
  }
}

.ordering__items-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 30px;

  @include lg {
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-around;
  }
  @include sm {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

.ordering__item {
  padding: 0 10.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @include lg {
    flex: none;
    width: 30%;

    &:last-child {
      margin-bottom: 20px;
    }
  }
  @include sm {
    width: 50%;
  }
  @include xlm {
    width: 100%;
  }
}

.ordering__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: $blue;
  border: 5px solid $blue4;
  border-radius: 100%;
  margin-bottom: 20px;

  & img {
    width: 55px;
    height: 55px;
  }

  @include sm {
    width: 80px;
    height: 80px;

    & > img {
      transform: scale(0.8);
    }
  }
}

.ordering__item-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $white;
}

.ordering__dots {
  width: 100%;
  height: 6px;
  background-image: url(../img/dots.svg);
  position: absolute;
  top: 46px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include lg {
    display: none;
  }
}

.ordering__form {
  display: flex;
  flex-direction: column;
}

.ordering__inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;

  @include sm {
    flex-direction: column;
  }
}

.ordering__select, .ordering__input-wrapper {
  flex: 1;
}

.ordering__range-wrapper {
  flex: 2;
}

.ordering__input-file-wrapper {
  flex: 0.962;
}

.ordering__submit {
  @extend button;
  width: 370px;
  margin-top: 18px;
  align-self: center;

  @include xlm {
    width: 100%;
    margin-top: 0;
  }
}
